html body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: dimgray;
  
  width: 100vw;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#profile-button{
  color:white
}
#trailer-button{
  color:white
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo {
  margin: 10px; /* You can adjust this value to control the spacing */
  max-width: 120px; /* Set the maximum width for the images */
  border-radius: 10%;
  box-shadow: 0 0 0 3px #040404, 0 0 0 4px #f8f6f6;
}

.photos-container {
  display: flex;
  /* flex-wrap: nowwrap; */
  animation: moveRightToLeft 45s linear infinite;
  width: max-content;

}

.photo {
  flex: 0 0 auto;
  width: 200px; /* Adjust the width as needed */
  height: 200px; /* Adjust the height as needed */
}

@keyframes moveRightToLeft {
  0% {
    transform: translateX(100%); 
  }
  100% {
    transform: translateX(-100%); 
  }
}

.movie-title {
  /* Define your desired styles here */
  font-size: 48px;
  color: #ef0606;
  font-family: 'Star Jedi', sans-serif;
  text-align: center;
  /* Add more styles as needed */
}

.card {
  width: 35rem;
  margin: 0 auto; /* Horizontally center the element */
  text-align: center; 
}

.card-body {
  font-size: 20px;
  
}

.year-released {
  position: absolute;
  right: 5rem;
}