html body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(61, 61, 61);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.accordion-button:not(.collapsed) {
  color: white;
  background-color: black;
  box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}

.list-group-item {
  color: white;
  background-color: black;
}

.photo {
  margin: 2rem; /* You can adjust this value to control the spacing */
  border-radius: 10%;
  box-shadow: 0 0 0 3px #040404, 0 0 0 4px #f8f6f6;
}

.photos-container {
  display: flex;
  /* flex-wrap: nowwrap; */
  animation: initCarousel 30s linear infinite;
  width: max-content;
}

.photo {
  flex: 0 0 auto;
  width: auto; /* Adjust the width as needed */
  height: 14rem; /* Adjust the height as needed */
  margin-top: 3rem;
}

/* @keyframes moveRightToLeft {
  0% {
    transform: translateX(60%); 
  }
  100% {
    transform: translateX(-100%); 
  }
} */

@keyframes initCarousel {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(-102%)
  }
}

.accordion-item {
  border: 4px solid #000; 
  border-radius: 10px; /* Adjust the border radius as needed */
  padding: .1rem; /* Adjust the padding as needed */
  box-shadow: .1rem .1rem 1rem 0rem rgba(0, 0, 0, 1);
}

.year-released {
  position: absolute;
  right: 5rem;
}

.list-group-flush h5, h6 {
  display: flex;
  justify-content: space-between;
}

#listImage {
  border-top-left-radius: 35px;
  border-bottom-left-radius: 35px;
}

.new-movie-form .form-label {
  display: flex;
  justify-content: center;
}

#Greeting {
  font-size: 90px;
  color: gold !important;
  font-family: fantasy;
  width: 100%;
  padding-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; 
}

#PlayBtn {
  filter: drop-shadow(0px 0px 5px black);
  /* width: 80px; */
  /* height: 80px; */
  width: 100%;
  /* flex-grow: 100; */
  animation: playbtn 1s infinite;
  display: flex;
  align-items: center;
  justify-content: center;
}


#actualPlayBtn {
  clip-path: polygon( 0 0, 100% 50%, 100% 50%, 0% 100% );
  width: 80px;
  height: 80px;
  background-color: black;
  /* animation: triangle 1s infinite; */
  display: flex;
  justify-content: space-around;

  transition: clip-path 10s, width 10s, height 10s;

  /* clip-path: polygon( 0% 0%, 100% 0%, 100% 100%, 0% 100% );
  width: 100%;
  height: 500px; */

}

#actualPlayBtn > span {
  position: absolute;
  top: 180px;
  font-size: 40px;
  opacity: 0;
  transition: opacity 18s;
}

#actualPlayBtn[play-pushed="true"]{
  /* animation: triangle 1s 1; */
  clip-path: polygon( 0% 0%, 100% 0%, 100% 100%, 0% 100% );
  width: 100%;
  height: 500px;
}
#actualPlayBtn[play-pushed="true"] > span {
  opacity: 1;
}
.spotLight {
  height: 100%;
  width: 5px;
  background-color: gold;
  animation: spotLights 3s infinite;
  clip-path: polygon( 50% 100%, 0% 0%, 100% 0% );
  opacity: 0.5;
}



#PlayBtn > div > .spotLight:first-child {
  animation-delay: 1.5s;
}

#PlayBtn > div > .spotLight:nth-child(3) {
  animation-delay: 2.5s;
}

#PlayBtn > div > .spotLight:nth-child(4) {
  animation-delay: 3.25s;

  scale: (-1,1);
}


@keyframes spotLights {
  0% {
    width: 0px;
    /* transform: skewX(); */
    transform: skewX(0deg);


  }

  25% {
    transform: skewX(-50deg);

  }
  75% {
    width: 200px;
    transform: skewX(50deg);
    /* clip-path: polygon( 0% 0%, 100% 0%, 100% 100%, 0% 100% ); */

  }
  100% {
    transform: skewX(0deg);

  }
  
}

@keyframes triangle {
  0% {
    /* clip-path: polygon( 100% 0%, 100% 100%, 0% 100% ); */
    width: 80px;
  }
  50% {
    /* clip-path: polygon( 0% 0%, 100% 50%, 0% 100% ); */
  }
  100% {
    clip-path: polygon( 0% 0%, 100% 0%, 100% 100%, 0% 100% );
    width: 100%;
    height: 500px;
    /* opacity: 0.5; */

  }

}

@keyframes playbtn {
  0% {
    filter: drop-shadow(0px 0px 5px gold);
  }
  50% {
    filter: drop-shadow(0px 0px 15px gold);
  }
  100% {
    filter: drop-shadow(0px 0px 5px gold);
  }
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.accordion-button:not(.collapsed) {
  color: white;
  background-color: black;
  box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}

#profile-button{
  color:white
}
#trailer-button{
  color:white
}

.formSections{
  max-height: 0px;
  overflow: hidden;
  transition: max-height 1s, opacity 0.5s;
  opacity: 0;
}

.formSections[is-active="true"] {
  opacity: 1;
  max-height: 500px;

}

#formNaviBtnHolster {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

.formNavBtns {
  transition: max-width 0.75s, padding 0.75s, color 0.75s, opacity .25s;
  max-width: 100px;
  white-space: nowrap;
  padding: 10px;
  border-radius: 8px;
  overflow: hidden;
  border: none;
}

.formNavBtns[display-on="false"] {
  opacity: 0;
  max-width: 0px;
  touch-action: none;
  pointer-events: none;
  padding: 0px;
  color: rgba(0, 0, 0, 0);
}

.card-darker {
  width: 38rem;
  display: inline-block;
  background-color: black;
  border: 2px solid white;
  border-radius: 10px;
  padding: 10px;
  color: white;
  margin-top: 4rem
}

.list-group-flush {
  background-color: black;
  /* color: white; */
}

.list-group-item {
  color: white;
  background-color: black;
}